<?php
$body_class = 'page-about-us';
$title = 'About Us | Zimmy Signs';
$description = 'Sign Language Story Book, called Bayme Pants in The Sun! It\'s Broken!';
require LAYOUT_PATH . '/header.php';
?>

Hi, my name is Tony. ZimmyBooks is charging anything right now, but I promise all content will alway be free to everybody. 100% of the content will always be free to everybody, no matter what status they hold on this site. Currently, a donation method through PayPal will be available it you choose to support the longetivity of this site. All money donated will go towards the livelyhood of it's owner and those involved in the development and maintaining of this ZimmyBooks.

I would like to thank all of you for stopping by and checking us out. The site is launching with three projects:

<a href="#"><img src="" alt="Bayme Pants in The Sun! It's Broken!" /></a>

<a href="#"><img src="" alt="Zimmy's Color Wheel" /></a>

<a href="#"><img src="" alt="Save the Pig!" /></a>

<?php require LAYOUT_PATH . '/footer.php';
