{{> headerBook
    bodyClass='page-book page-bayme-pants-the-sun-its-broken'
    title='Bayme Pants in The Sun! It\'s Broken | Sign Language Book for Kids | Zimmy Signs'
    description='Sign Language Story Book, called Bayme Pants in The Sun! It\'s Broken!'
    canonical='https://www.zimmysigns.com/books/bayme-pants-the-sun-its-broken'
}}

<script>
  window.bookPreload = {};
  window.bookPreload.setupManifest = function(templateDirectoryURI, bookName) {
    return manifest = [
      {
        src:  "/imgs/books/intro.jpg",
        id: "intro-page"
      },
      {
        src:  "/imgs/books/bayme-pants-the-sun-its-broken/title.jpg",
        id: "title-page"
      },
      {
        src:  "/imgs/books/bayme-pants-the-sun-its-broken/sun.jpg",
        id: "sun-page"
      },
      {
        src:  "/imgs/signs/sun.jpg",
        id: "sun-sign"
      },
      {
        src:  "/imgs/books/sign-boxes/sun.jpg",
        id: "sun-signbox"
      },
      {
        src:  "/imgs/books/bayme-pants-the-sun-its-broken/broken.jpg",
        id: "broken-page"
      },
      {
        src:  "/imgs/signs/broken.jpg",
        id: "broken-sign"
      },
      {
        src:  "/imgs/books/sign-boxes/broken.jpg",
        id: "broken-signbox"
      },
      {
        src:  "/imgs/books/bayme-pants-the-sun-its-broken/sleep.jpg",
        id: "sleep-page"
      },
      {
        src:  "/imgs/signs/sleep.jpg",
        id: "sleep-sign"
      },
      {
        src:  "/imgs/books/sign-boxes/sleep.jpg",
        id: "sleep-signbox"
      },
      {
        src:  "/imgs/books/bayme-pants-the-sun-its-broken/rabbit.jpg",
        id: "rabbit-page"
      },
      {
        src:  "/imgs/signs/rabbit.jpg",
        id: "rabbit-sign"
      },
      {
        src:  "/imgs/books/sign-boxes/rabbit.jpg",
        id: "rabbit-signbox"
      },
      {
        src:  "/imgs/books/bayme-pants-the-sun-its-broken/fish.jpg",
        id: "fish-page"
      },
      {
        src:  "/imgs/signs/fish.jpg",
        id: "fish-sign"
      },
      {
        src:  "/imgs/books/sign-boxes/fish.jpg",
        id: "fish-signbox"
      },
      {
        src:  "/imgs/books/bayme-pants-the-sun-its-broken/monkey.jpg",
        id: "monkey-page"
      },
      {
        src:  "/imgs/signs/monkey.jpg",
        id: "monkey-sign"
      },
      {
        src:  "/imgs/books/sign-boxes/monkey.jpg",
        id: "monkey-signbox"
      },
      {
        src:  "/imgs/books/bayme-pants-the-sun-its-broken/moon.jpg",
        id: "moon-page"
      },
      {
        src:  "/imgs/signs/moon.jpg",
        id: "moon-sign"
      },
      {
        src:  "/imgs/books/sign-boxes/moon.jpg",
        id: "moon-signbox"
      },
      {
        src:  "/imgs/books/bayme-pants-the-sun-its-broken/working.jpg",
        id: "working-page"
      },
      {
        src:  "/imgs/signs/working.jpg",
        id: "working-sign"
      },
      {
        src:  "/imgs/books/sign-boxes/working.jpg",
        id: "working-signbox"
      },
      {
        src:  "/imgs/books/bayme-pants-the-sun-its-broken/credits.jpg",
        id: "credits-page"
      },
      {
        src:  "/imgs/books/bayme-pants-the-sun-its-broken/theend.jpg",
        id: "theend-page"
      }
    ];
  }
</script>

<div class="book-page page-bayme-pants-the-sun-its-broken" data-book="bayme-pants-the-sun-its-broken">

  {{> fullPagePleaseRotate shareTitle="Bayme Pants - The Sun! It\'s Broken! : https://goo.gl/qEFGYc via @ZimmyBooks"}}

  <section class="book-section" style="background-image: url('/imgs/books/bayme-pants-the-sun-its-broken/background.jpg');">
    <div class="book-section-loader">Loading... <span></span></div>
    <div class="clear"></div>
    <div class="wrapper height-zero">
      {{> fullPageNav}}
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <!-- intro - slide 0 -->
          <div class="swiper-slide intro"></div>
          <!-- title -->
          <div class="swiper-slide title"></div>
          <!-- page 01 -->
          <div class="swiper-slide sun"></div>
          <!-- page 02 -->
          <div class="swiper-slide broken"></div>
          <!-- page 03 -->
          <div class="swiper-slide sleep"></div>
          <!-- page 04 -->
          <div class="swiper-slide rabbit"></div>
          <!-- page 05 -->
          <div class="swiper-slide fish"></div>
          <!-- page 06 -->
          <div class="swiper-slide monkey"></div>
          <!-- page 07 -->
          <div class="swiper-slide moon"></div>
          <!-- page 08 -->
          <div class="swiper-slide working"></div>
          <!-- credits - after adding credits page apply slide number to window.appSettings.creditsSlide -->
          <div class="swiper-slide credits"></div>
          <!-- the end -->
          <div class="swiper-slide theend"></div>
        </div>
        <div class="swiper-button-prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
        <div class="swiper-button-next"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
      </div>

    </div>

  </section> <!-- book-section - end -->

</div> <!-- book-page - end -->

{{> footerBook }}
