{{> header
    bodyClass='page-home'
    title='ZimmySigns'
    description='ASL Online Learning for Kids!'
    canonical='https://www.zimmysigns.com'
}}

<!-- site-intro -->
<section class="site-intro">
  <div class="intro-wrapper">
    <h1>ASL Online Learning for Kids!</h1>
  </div>
</section>
<!-- site-intro - end -->

<!-- nav-simple -->
{{> navSimple }}
<!-- nav-simple - end-->

<!-- books-and-games -->
<section class="books-and-games">

  <div class="books-and-games-wrapper">

    <a class="books-and-games-wrapper-book" href="/books/flax-vs-santa">
      <img class="img-responsive" src="/imgs/site/archive-thumbs/flax-vs-santa.jpg" />
      <span class="books-and-games-type">book</span>
    </a>

    <a class="books-and-games-wrapper-book" href="/books/planet-colors">
      <img class="img-responsive" src="/imgs/site/archive-thumbs/planet-colors.jpg" />
      <span class="books-and-games-type">book</span>
    </a>

    <a class="books-and-games-wrapper-book" href="/books/bayme-pants-the-sun-its-broken">
      <img class="img-responsive" src="/imgs/site/archive-thumbs/the-sun-its-broken.jpg" />
      <span class="books-and-games-type">book</span>
    </a>

    <a class="books-and-games-wrapper-game" href="/games/save-the-pig">
      <img class="img-responsive" src="/imgs/site/archive-thumbs/save-the-pig.jpg" />
      <span class="books-and-games-type">game</span>
    </a>

    <a class="books-and-games-wrapper-printable" href="/printables/calendar">
      <img class="img-responsive" src="/imgs/site/archive-thumbs/calendar.jpg" />
      <span class="books-and-games-type">printable</span>
    </a>

  </div>

</section>

{{> footer }}
