{{> headerBook
    bodyClass='page-book page-planet-colors'
    title='Planet Colors | Sign Language Book for Kids | Zimmy Signs'
    description='Sign Language Book that teaches the Primary Colors.'
    canonical='https://www.zimmysigns.com/books/planet-colors'
}}

<script>
  window.bookPreload = {};
  window.bookPreload.setupManifest = function(templateDirectoryURI, bookName) {
    return manifest = [
      {
        src:  "/imgs/books/intro.jpg",
        id: "intro-page"
      },
      {
        src:  "/imgs/books/planet-colors/colors.jpg",
        id: "colors-page"
      },
      {
        src:  "/imgs/signs/colors.jpg",
        id: "colors-sign"
      },
      {
        src:  "/imgs/books/sign-boxes/colors.jpg",
        id: "colors-signbox"
      },
      {
        src:  "/imgs/books/planet-colors/brown.jpg",
        id: "brown-page"
      },
      {
        src:  "/imgs/signs/brown.jpg",
        id: "brown-sign"
      },
      {
        src:  "/imgs/books/sign-boxes/brown.jpg",
        id: "brown-signbox"
      },
      {
        src:  "/imgs/books/planet-colors/green.jpg",
        id: "green-page"
      },
      {
        src:  "/imgs/signs/green.jpg",
        id: "green-sign"
      },
      {
        src:  "/imgs/books/sign-boxes/green.jpg",
        id: "green-signbox"
      },
      {
        src:  "/imgs/books/planet-colors/yellow.jpg",
        id: "yellow-page"
      },
      {
        src:  "/imgs/signs/yellow.jpg",
        id: "yellow-sign"
      },
      {
        src:  "/imgs/books/sign-boxes/yellow.jpg",
        id: "yellow-signbox"
      },
      {
        src:  "/imgs/books/planet-colors/black.jpg",
        id: "black-page"
      },
      {
        src:  "/imgs/signs/black.jpg",
        id: "black-sign"
      },
      {
        src:  "/imgs/books/sign-boxes/black.jpg",
        id: "black-signbox"
      },
      {
        src:  "/imgs/books/planet-colors/purple.jpg",
        id: "purple-page"
      },
      {
        src:  "/imgs/signs/purple.jpg",
        id: "purple-sign"
      },
      {
        src:  "/imgs/books/sign-boxes/purple.jpg",
        id: "purple-signbox"
      },
      {
        src:  "/imgs/books/planet-colors/white.jpg",
        id: "white-page"
      },
      {
        src:  "/imgs/signs/white.jpg",
        id: "white-sign"
      },
      {
        src:  "/imgs/books/sign-boxes/white.jpg",
        id: "white-signbox"
      },
      {
        src:  "/imgs/books/planet-colors/orange.jpg",
        id: "orange-page"
      },
      {
        src:  "/imgs/signs/orange.jpg",
        id: "orange-sign"
      },
      {
        src:  "/imgs/books/sign-boxes/orange.jpg",
        id: "orange-signbox"
      },
      {
        src:  "/imgs/books/planet-colors/red.jpg",
        id: "red-page"
      },
      {
        src:  "/imgs/signs/red.jpg",
        id: "red-sign"
      },
      {
        src:  "/imgs/books/sign-boxes/red.jpg",
        id: "red-signbox"
      },
      {
        src:  "/imgs/books/planet-colors/blue.jpg",
        id: "blue-page"
      },
      {
        src:  "/imgs/signs/blue.jpg",
        id: "blue-sign"
      },
      {
        src:  "/imgs/books/sign-boxes/blue.jpg",
        id: "blue-signbox"
      },
      {
        src:  "/imgs/books/planet-colors/thankyou.jpg",
        id: "thankyou-page"
      }
    ];
  }
</script>

<div class="book-page page-planet-colors" data-book="planet-colors">

  {{> fullPagePleaseRotate shareTitle="Planet Colors : https://goo.gl/vc8kZ5 via @ZimmyBooks"}}

  <section class="book-section" style="background-image: url('/imgs/books/planet-colors/background.jpg');">
    <div class="book-section-loader">Loading... <span></span></div>
    <div class="clear"></div>
    <div class="wrapper height-zero">
      {{> fullPageNav}}
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <!-- intro - slide 0 -->
          <div class="swiper-slide intro"></div>
          <!-- title -->
          <div class="swiper-slide colors"></div>
          <!-- page 01 -->
          <div class="swiper-slide brown"></div>
          <!-- page 02 -->
          <div class="swiper-slide green"></div>
          <!-- page 03 -->
          <div class="swiper-slide yellow"></div>
          <!-- page 04 -->
          <div class="swiper-slide black"></div>
          <!-- page 05 -->
          <div class="swiper-slide purple"></div>
          <!-- page 06 -->
          <div class="swiper-slide white"></div>
          <!-- page 07 -->
          <div class="swiper-slide orange"></div>
          <!-- page 08 -->
          <div class="swiper-slide red"></div>
          <!-- page 09 -->
          <div class="swiper-slide blue"></div>
          <!-- credits - after adding credits page apply slide number to window.appSettings.creditsSlide -->
          <div class="swiper-slide thankyou">
            <div class="more-things-to-do-wrapper">
              <a class="more-things-to-do-link more-things-to-do-link-left" href="/books/flax-vs-santa/">
          			<img class="img-responsive" src="/imgs/books/more-things-to-do/flax-vs-santa.jpg" />
                <span class="books-and-games-type">book</span>
          		</a>
              <a class="more-things-to-do-link more-things-to-do-link-right" href="/books/bayme-pants-the-sun-its-broken/">
          			<img class="img-responsive" src="/imgs/books/more-things-to-do/bayme-pants-the-sun-its-broken.jpg" />
                <span class="books-and-games-type">book</span>
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-button-prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
        <div class="swiper-button-next"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
      </div>

    </div>
  </section> <!-- book-section - end -->

</div> <!-- book-page - end -->

{{> footerBook }}
