<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/libs.js?ver={{versionJSLibs}}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/PreloadJS/1.0.1/preloadjs.min.js"></script>
<script type="text/javascript" src="/js/main.js?ver={{versionJSMain}}"></script>
<script type="text/javascript" src="/js/books-fullscreen.js?ver={{versionJSBookFullscreen}}"></script>
</body>
</html>
