<footer class="footer">
	<div class="footer-border">
    <div class="footer-content">
			<div class="footer-site-nav">
				<!-- <ul class="content-nav">
					<li><a href="<?php //echo esc_url( home_url( '/' ) ); ?>">Home</a></li>
					<li><a href="<?php //echo esc_url( SITE_URL ); ?>/books">Books</a></li>
					<li><a href="<?php //echo esc_url( SITE_URL ); ?>/games">Games</a></li>
					<li><a href="<?php //echo esc_url( SITE_URL ); ?>/learning">Learning</a></li>
					<li><a href="<?php //echo esc_url( SITE_URL ); ?>/blog">Blog</a></li>
					<li><a href="<?php //echo esc_url( SITE_URL ); ?>/news">News</a></li>
				</ul> -->
				<div>
					<a class="footer-mini-logo" href="/"><img class="img-responsive" src="/imgs/site/zimmy-signs-logo-small.svg" alt="ZimmySigns! Logo" /></a>
				</div>
				<div class="footer-copyright">
					<!-- &copy; <?php //echo date("Y"); ?> ZimmySigns<br />property of <a href="http://antheaddigital.com">Anthead Digital</a> -->
					&copy;  ZimmySigns<br />property of <a href="https://www.antheaddigital.com">Anthead Digital</a>
				</div>
				<ul class="site-nav">
					<!-- <li><a href="<?php // esc_url( home_url( '/' ) ); echo get_permalink( get_page_by_path( 'about-us' ) ); ?>">About</a></li> -->
					<!-- <li><a href="">Contact</a></li> -->
					<li><a href="/privacy-policy">Privacy Policy</a></li>
					<li><a href="/terms-of-service">Terms of Service</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
