
			<!-- support-bar -->
			<!-- <?php
				// if(!in_array($post_slug, $page_array)){
				// 	require_once( get_template_directory() . '/template-parts/support-bar.php');
				// }
			?> -->
			<!-- support-bar - end -->
			<!-- footer-social -->
			<!-- <?php
				// if(!in_array($post_slug, $page_array)){
				// 	require_once( get_template_directory() . '/template-parts/footer-social.php');
				// }
			?> -->
			<!-- footer-social - end -->
			<!-- <?php //require_once( get_template_directory() . '/template-parts/back-to-top.php'); ?> -->
		</div><!-- #site-content -->
	</div><!-- #site-content-border -->

</div><!-- #site-wrapper -->

<!-- footer-nav -->
<!-- <?php require __DIR__ . '/../template-parts/footer-nav.php'; ?> -->
{{> footerNav }}
<!-- footer-nav - end -->

</body>
</html>
