<section class="full-page-please-rotate">
  <div>
    <img src="/imgs/books/book-full-page-please-rotate.png" class="full-page-please-rotate-image img-responsive" />
    <div class="full-page-please-rotate-header">rotate please</div>
    {{> fullPageNav}}
  </div>
</section>
