<!DOCTYPE html>

<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
{{> gtmHead }}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes">
<!-- <?php //require_once( get_template_directory() . '/template-parts/module-page-checks-settings.php'); ?> -->
<link rel="icon" type="image/png" href="<?php echo CDN_URL; ?>/imgs/site/favicon-zimmysigns.png" />
<title><?php echo $title ?></title>
<meta name="description" content="<?php echo $description; ?>">
<link rel="canonical" href="https://www.zimmysigns.com/" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="ASL Books, Games, Printables I Zimmy Signs" />
<meta property="og:url" content="https://zimmysigns.com/" />
<meta property="og:site_name" content="Zimmy Signs" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="ASL Books, Games, Printables I Zimmy Signs" />
<link rel='stylesheet' href='<?php echo CDN_URL . '/css/main.css?version=' . CSS_VERSION; ?>' type='text/css' media='all' />
</head>
<!-- <?php
// require_once( get_template_directory() . '/libs/mobile-detect/detect.php');
// $device_type = Detect::deviceType();
?> -->
<body class="<?php echo $body_class; ?>">
{{> gtmBody }}
<input type="hidden" class="template-directory-uri-value" data-template-directory-uri="<?php echo SITE_URL; ?>" />
<!-- header-nav -->
<!-- <?php require TEMPLATE_PARTS_PATH . '/header-nav.php'; ?> -->
<!-- header-nav - end -->
<div class="site-wrapper">
<div class="site-content-border">
<div class="site-content">
