<header class="header">
  <div class="header-border">
    <div class="header-content">
      <!-- <div class="header-logo-wrapper">Welcome to <a href="<?php echo SITE_URL; ?>">ZimmySigns</a></div> -->
      <div class="header-logo-wrapper">Welcome to <a href="/">ZimmySigns</a></div>
      <div class="clear"></div>
    </div>
  </div>
</header>
<div class="header-support">Formally ZimmyBooks</a></div>
