<section class="nav-simple-section">
  <ul class="nav-simple">
    <li class="nav-simple-item"><a class="nav-simple-item-link nav-simple-item-link-all" href="/"><span>All</span></a></li>
    <li class="nav-simple-item"><a class="nav-simple-item-link nav-simple-item-link-books" href="/books"><span>Books</span></a></li>
    <li class="nav-simple-item"><a class="nav-simple-item-link nav-simple-item-link-games" href="/games"><span>Games</span></a></li>
    <li class="nav-simple-item"><a class="nav-simple-item-link nav-simple-item-link-printables" href="/printables"><span>Printables</span></a></li>
  </ul>
</section>
